rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function
    function isAuthenticated() {
      return request.auth != null;
    }

    // Default match for school management portal collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
